Tasca_4_1_Lluis_Bauza/Exercici 1/DTD/cifp.dtd

<!ELEMENT cifp (alumne*, professor*)>
<!ELEMENT alumne (nom, llinatges, data_naixement?, correu?, telefon?, adress?, data_matricula, curs)>
<!ELEMENT professor (nom, llinatges, data_naixement?, correu?, telefon?, adress?, data_incorporacio, departament, assignatura*)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adress (#PCDATA)>
<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>
<!ELEMENT data_incorporacio (#PCDATA)>
<!ELEMENT departament (#PCDATA)>
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>

<!ATTLIST alumne id CDATA #REQUIRED>
<!ATTLIST professor id CDATA #REQUIRED>
<!ATTLIST assignatura id_assignatura CDATA #REQUIRED>
<!ATTLIST nom_assignatura cicle (DAM | DAW | ASIX | SMX | SEIA | ER | AUT) #REQUIRED>

<!--Canviat
adreça per adress, perque adreça donava fall a VS Code-->
<!-- problema: nomes interger als atributs? -->
<!-- Error al fer llistes de valors a un Element -->